@charset "utf-8";
/**
 * FXT CSS
 */

.button2 {
    background: linear-gradient(to bottom, #f1f1f1 0%, #CCCCCC 50%, #CCCCCC 51%, #f1f1f1 100%) !important;
    color: #000;
    padding-top: -2px;
    padding-left: 3px;
    font-size: 14px;
    font-weight:bold!important;
    font-family:Arial,Helvetica,sans-serif;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    border: 1px solid #CCCCCC;
    cursor: pointer;
}

:root {
    --radius: 2px;
    --baseFg: dimgray;
    --baseBg: white;
    --accentFg: #000000;
    --accentBg: #ffffff;
}

/*
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    background-color: #3B5998;
    box-sizing: content-box
}
input[type=range]:focus {
    outline: 0
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: none;
    background-repeat: repeat;
    background-position: center;
    background: linear-gradient(to bottom, #f1f1f1 0%, #CCCCCC 50%, #CCCCCC 51%, #f1f1f1 100%) !important;
    border-radius: 4px;
    border: 1px solid #000000;
    margin-top: 3px;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: none;
    border: 1px solid #000000;
    border-radius: 4px;
    height: 18px;
    width: 18px;
    background-repeat: repeat;
    background-position: center;
    background: linear-gradient(to bottom, #f1f1f1 0%, #CCCCCC 50%, #CCCCCC 51%, #f1f1f1 100%) !important;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: none;
    background-repeat: repeat;
    background-position: center;
    background: linear-gradient(to bottom, #f1f1f1 0%, #CCCCCC 50%, #CCCCCC 51%, #f1f1f1 100%) !important;
    border-radius: 4px;
    border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
    box-shadow: none;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    background-repeat: repeat;
    background-position: center;
    background: linear-gradient(to bottom, #f1f1f1 0%, #CCCCCC 50%, #CCCCCC 51%, #f1f1f1 100%) !important;
    cursor: pointer
}
input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: none;
    background-repeat: repeat;
    background-position: center;
    background: linear-gradient(to bottom, #f1f1f1 0%, #CCCCCC 50%, #CCCCCC 51%, #f1f1f1 100%) !important;
    border-radius: 4px;
    border: 1px none #000000;
    margin-top: -10px
}
input[type=range]::-ms-fill-lower {
    box-shadow: none;
    background-repeat: repeat;
    background-position: center;
    background: linear-gradient(to bottom, #f1f1f1 0%, #CCCCCC 50%, #CCCCCC 51%, #f1f1f1 100%) !important;
    border-radius: 4px;
}
input[type=range]::-ms-fill-upper {
    box-shadow: none;
    background-repeat: repeat;
    background-position: center;
    background: linear-gradient(to bottom, #f1f1f1 0%, #CCCCCC 50%, #CCCCCC 51%, #f1f1f1 100%) !important;
    border-radius: 4px;
}
input[type=range]::-ms-thumb {
    box-shadow: none;
    border: 1px solid #000;
    height: 16px;
    width: 16px;
    margin-top: 0;
    border-radius: 3px;
    background: #fff;
    cursor: pointer
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"], textarea {
    background: #fff !important;
    background-image: none !important;
    border: 1px none #CCCCCC !important;
    border-radius: 0 !important;
    color: #000000 !important;
    padding: 3px !important;
    width: 100% !important;
}
*/
.bluebutton{
    padding: 3px;
    cursor: pointer;
    border: solid 1px #292f36;
    color: #ffffff;
    font-size: 14px;
    width: 100px;
    height: 33px;
    border-radius: 0;
    background: linear-gradient(to bottom, #8cafdb 0%, #3B5998 50%, #3B5998 51%, #8cafdb 100%) !important;
}
.button{
    color: #000000 !important;
    font-size: 14px;
    font-weight:100!important;
    font-family:Arial,Helvetica,sans-serif;
    border-radius: 0 !important;
    box-shadow: none !important;
    background: linear-gradient(to bottom, #f1f1f1 0%, #CCCCCC 50%, #CCCCCC 51%, #f1f1f1 100%) ;
    border-color: #000000!important;
    transition: border-color 0.4s;
}

input:disabled {
    background:none;
}

.button:hover {
    border-color: #CCCCCC !important;
    background: linear-gradient(to bottom, #CCCCCC 0%, #f1f1f1 50%, #f1f1f1 51%, #CCCCCC 100%) ;

    /*
    background-repeat: repeat;
    background-position: center;
    background: linear-gradient(to bottom, #f1f1f1 0%, #CCCCCC 50%, #CCCCCC 51%, #f1f1f1 100%) ;
    transition-duration: 0.9s;
   background:unset;
    background: linear-gradient(to bottom, #CCCCCC 0%, #f1f1f1 50%, #f1f1f1 51%, #CCCCCC 100%) ;
     */
}

.muteBtn {
    color: #000000 !important;
    font-size: 14px;
    bottom: 1px;
    font-weight:100!important;
    font-family:Arial,Helvetica,sans-serif;
    border-radius: 0 !important;
    box-shadow: none !important;
    background-repeat: repeat;
    background-position: center;
    background: linear-gradient(to bottom, #f1f1f1 0%, #CCCCCC 50%, #CCCCCC 51%, #f1f1f1 100%) !important;
}
.closeBtn {
    color:#000000;
    background: linear-gradient(to bottom, #e2e2e2 0%, #CCCCCC 50%, #CCCCCC 51%, #e2e2e2 100%) !important;
    border: 1px solid #000000 !important;
    border-radius:0;
    font-family: "FontAwesome" !important;
    padding: 0;
    font-size:20px;
    cursor:pointer;
}

.headerToggleBtn {
    padding: 10px;
    padding-top: 0;
    padding-left: 8px;
    font-size:20px;
    font-family: "FontAwesome" !important;
    color:#000000;
    background: linear-gradient(to bottom, #e2e2e2 0%, #CCCCCC 50%, #CCCCCC 51%, #e2e2e2 100%) !important;
    cursor:pointer;
    border: 1px solid #000000 !important;
    border-radius:0;
}
.headbar {
    border:solid 1px #000000;
    padding:3px;
    border-radius:0;
    overflow:hidden;
    background-position:center;
    /*background: linear-gradient(to bottom, #f1f1f1 0%, #CCCCCC 50%, #CCCCCC 51%, #f1f1f1 100%) !important;*/
    background: linear-gradient(to bottom, #8cafdb 0%, #3B5998 50%, #3B5998 51%, #8cafdb 100%) !important;
    cursor:pointer;
}
.headbarTitle {
    color: #FFFFFF !important;
    font-size: 11px !important;
    font-weight: bold !important;
    font-family: tahoma, arial, verdana, sans-serif !important;
    line-height: 15px !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.force-select {
    -webkit-user-select: all;  /* Chrome 49+ */
    -moz-user-select: all;     /* Firefox 43+ */
    -ms-user-select: all;      /* No support yet */
    user-select: all;          /* Likely future */
}

.headbarSilver {
    border:solid 1px #000000;
    padding:3px;
    border-radius:0;
    overflow:hidden;
    background-position:center;
    background: linear-gradient(to bottom, #f1f1f1 0%, #CCCCCC 50%, #CCCCCC 51%, #f1f1f1 100%) !important;
    /*bbackground: linear-gradient(to bottom, #8cafdb 0%, #3B5998 50%, #3B5998 51%, #8cafdb 100%) !important;*/
    cursor:pointer;
}

.mcContainer {
    transition: height 2s ease 0s;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 30px;
    border:solid 1px #000000;
    padding: 3px;
    border-radius: 0px;
    overflow: hidden;
    background: rgba(63, 92, 158, 0.4) !important;
}
/*
video {
    min-height: 100%;
    min-width: 100%;
    height: auto !important;
    width: auto !important;
    max-height: 56.25vw !important;
}

 */

.chatCanvas {
    color: #FFFFFF;
    width:calc(100% - 20px);
    height: calc(100% - 110px);
    left:5px;
    top:5px;
    border:solid 1px #000000;
    padding: 10px 3px 3px 3px;
    border-radius:4px;
    overflow: auto;
    background: rgba(63, 92, 158, .8);
}

textarea {
    resize: none;
}
.theme-pink {
	--radius: 2em;
	--baseFg: #c70062;
	--baseBg: #ffe3f1;
	--accentFg: #c70062;
	--accentBg: #ffaad4;
}

.theme-construction {
	--radius: 0;
	--baseFg: white;
	--baseBg: black;
	--accentFg: black;
	--accentBg: orange;
}

input[type=file]::file-selector-button {
    color: #000000 !important;
    font-size: 14px;
    min-height: 33px;
    font-weight:100!important;
    font-family:Arial,Helvetica,sans-serif;
    border-radius: 4px !important;
    box-shadow: none !important;
    background-repeat: repeat;
    background-position: center;
    background: linear-gradient(to bottom, #f1f1f1 0%, #CCCCCC 50%, #CCCCCC 51%, #f1f1f1 100%) !important;
    border: 1px solid #CCCCCC;
    transition: 1s;
}

input[type=file]::file-selector-button:hover {
    background-color: #81ecec;
    border: 1px solid #00cec9;
}

.user-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/*
select {
	font: 400 12px/1.3 sans-serif;
	-webkit-appearance: none;
	appearance: none;
	color: var(--baseFg);
	border: 1px solid var(--baseFg);
	line-height: 1;
	outline: 0;
	padding: 0.65em 2.5em 0.55em 0.75em;
	border-radius: var(--radius);
	background-color: var(--baseBg);
	
	background-image: linear-gradient(var(--baseFg), var(--baseFg)),
	linear-gradient(135deg, transparent 50%, var(--accentBg) 50%),
	linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
	linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
	
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
	
	background-position: right 20px center, right bottom, right bottom, right bottom;  
	cursor:pointer!important; 
}
*/

select {
	font: 400 12px/1.3 sans-serif!important;
	-webkit-appearance: none!important;
	appearance: none!important;
	color: var(--baseFg)!important;
	border: 1px solid #FFF;
	line-height: 1!important;
	outline: 0!important;
	padding: 0.65em 2.5em 0.55em 0.75em!important;
	border-radius: var(--radius)!important;
	background-color: var(--baseBg)!important;
	background-image:url(../assets/trigger2.png)!important;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat!important;
	background-position: right 1px center, right bottom, right bottom, right bottom!important;
	cursor:pointer!important;
}

select > option {
    background: pink;
}

optgroup {
    font-size:20px;
}

select:hover {
	/*
  	background-image: linear-gradient(var(--baseFg), var(--baseFg)),
	linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
	linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
	linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);

	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
	background-position: right 20px center, right bottom, right bottom, right bottom;
	cursor:pointer!important;
	*/
}

select:active {
	/*
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  color: var(--accentBg);
  border-color: var(--accentFg);
  background-color: var(--accentFg);
  */
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.member-pic-list {
    position: absolute;
    width: 30px;
    height: 30px;
    right: -61px;
    border-radius: 45px;
    background-color: rgba(255, 255, 255, .3);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid #A8A8A6;
    cursor: pointer !important;
}

input:focus{
    outline: none;   
}

a:active {
  outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding-top:7px;
}

.btn-primary:focus {
    outline: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding-top:7px;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-danger:focus, .btn-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.modal-backdrop.show {
    opacity: .5;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.selected {
    color: #000!important;
    background: linear-gradient(rgb(204, 204, 204) 0%, rgb(204, 204, 204) 50%, rgb(204, 204, 204) 51%, rgb(204, 204, 204) 100%) !important;
    border: 1px solid #cccccc;
    background-color: aquamarine !important;
    padding:3px;
    height:40px;
    margin-top: 1px;
}

.unselected {
    color: #000!important;
    background: rgba(0, 103, 191, 0.4) !important;
    border: 1px solid #000000;
    margin-top: 1px;
    height:40px;
    padding:3px;
}

.hp_slide{
    width:100%;
    background: #f1f1f1;
    height: 10px;
    margin-right:2px;
    border: solid 1px #ccc;
}
.hp_range{
    width:0;
    background: black;
    height: 25px;
    border-radius: 0;
}

.resizer {
    position: absolute;
}

/* Placed at the right side of drag wins */
.resizer-r {
    cursor: ew-resize;
    height: 100%;
    right: 0;
    top: 0;
    width: 5px;
}

/* Placed at the bottom side of drag wins */
.resizer-b {
    bottom: 0;
    cursor: ns-resize;
    height: 5px;
    left: 0;
    width: 100%;
}

/*
@media screen and (orientation: landscape) {
    body  {
        transform: rotate(90deg);
        transform-origin:bottom left;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top:-100vw;
        left: 0;
    }
}

 */





